h1{
    background-color: blueviolet;
    margin:0;
}
body {
    margin:0;
}
.header {
    background-color: blueviolet;
    text-align: center;
    font-size:50px;
    color:white;
    font-family: Papyrus;
    
}
p {
    font-size: 30px;
    margin:0;
    padding:3px;
    
}
p1 {
    font-size: 20px;
    margin:0;
    padding:1px; 
}

.book-entry {
    margin: 32px;
    display: flex;
}

.book-entry span {
    margin-right: 3px;
}
button {
    
    margin: 8px;
    border-radius: 15px;
    background-color: #8AbEB2;
    cursor: pointer;  
}


#add-button {
    float: right;
    font-size: 28px;
    
}
div.form {
    font-family: Papyrus;
    font-size: 20px;

}
#home-button {
    font-size: 36px;
}
/* .hamster-pics {
    width: (16 * 7)px;
    height: (9 * 7)px;
} */
