mat-card img{
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 80%;
}

mat-card {
  height: 100%;
  width: 100%;
  padding: 0;

}

:host {
  height: 100%;
  width: 100%;
  margin: 16px;
}
